@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes squiggle {
    0% {
        opacity: 0;
        transform: translateX(50px)
    }

    50% {
        opacity: 50%;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.anim-squiggle {
    opacity: 0;
    animation: squiggle 0.5s linear 0.8s forwards;
}

.anim-slide-up {
    animation: slideUp 0.5s linear 0s forwards;
    backface-visibility: none;
    -moz-backface-visibility: none;
    -webkit-backface-visibility: none;
}

.anim-fadeIn {
    animation: fadeIn 2s;
    backface-visibility: none;
    -moz-backface-visibility: none;
    -webkit-backface-visibility: none;
}